<html>
<head>
<title>Parse Date/Time</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form method="post" action="/">
<fieldset>
<label>Date/Time <input type="text" name="dt" id="dt" style="width: 100%;" /></label>
</fieldset>
<input type="submit" value="Parse" />
</form>
</body>
</html>
