<html>
<head>
<title>timeapi</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		<a href="/pdt">"/pdt" &rarr; Get current time in PDT</a>
	</p>
	<p>
		<a href="/pdt">"/pdt/in+two+hours" &rarr; Get time two hours from now in PDT</a>
	</p>
</body>
</html>